
                <nav class="side">
                    <div class="menu">
                        <div class="title">業務内容</div>
                        <ul class="links">
                            <li class="link"><%= link_to 'オフィス清掃', office_path %></li>
                            <li class="link"><%= link_to 'ワックス清掃', wax_path %></li>
                            <li class="link"><%= link_to 'カーペット清掃', carpet_path %></li>
                            <li class="link"><%= link_to 'ハウスクリーニング', house_path %></li>
                            <li class="link"><%= link_to 'エアコン清掃', aircon_path %></li>
                            <li class="link"><%= link_to 'アパート・マンション清掃', apaman_path %></li>
                        </ul>
                    </div>
                    <div class="menu">
                        <div class="title">企業情報</div>
                        <ul class="links">
                            <li class="link"><%= link_to '会社概要', about_path %></li>
                            <li class="link"><%= link_to 'お問い合わせ', contacts_path %></li>
                            <li class="link"><%= link_to '個人情報保護', privacy_path %></li>
                            <li class="link"><%= link_to 'お知らせ', news_path %></li>
                        </ul>
                    </div>
                    <div class="partner">
                        <p>協力会社(パートナー)様を募集！</p>
                        <p>業種:エアコン・ダクト・受水槽関係</p>
                    </div>
                </nav>
