        <% provide(:title, 'お知らせ | メリエックス株式会社') %>
        <% provide(:description, 'メリエックス株式会社からのお知らせ') %>
        <% provide(:keywords, 'オフィス清掃,ビル清掃,マンション清掃,クリニック清掃,介護福祉施設清掃,ハウスクリーニング,news,お知らせ') %>
        <% provide(:h1, 'メリエックス株式会社からのお知らせ') %>

        <main class="container news">
            <nav class="breadcrumbs">
                <ol>
                    <li><%= link_to 'トップ', root_path %></li>
                    <li><%= link_to 'お知らせ', news_path %></li>
                </ol>
            </nav>
            <section>
                <h1>お知らせ</h1>
                <% @articles.each do |article| %>
                <article>
                    <h1><%= link_to article.title, article_path(article) %></h1>
                    <time datetime="<%= article.created_at %>"><%= l article.created_at %></time>
                    <p><%= truncate(article.body, length: 100) %></p>
                </article>
                <% end %>
                <% if @articles.empty? %>
                    <p>お知らせはありません</p>
                <% end %>
            </section>
        </main>
