        <% provide(:title, 'お問い合わせ | メリエックス株式会社') %>
        <% provide(:description, 'ビル清掃 オフィス清掃 マンション清掃のメリエックス株式会社です。業務内容に関するお問い合わせ、お見積依頼、業務依頼などお気軽にお問い合わせ下さい。') %>
        <% provide(:keywords, 'お問い合わせ,無料見積もり,料金,東京') %>
        <% provide(:h1, 'お問い合わせ') %>

        <main class="container contacts">
            <div class="contents">
                <%= render 'shared/nav' %>
                <div class="main">
                    <ol class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope
                            itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="http://www.merry-x.com">
                              <span itemprop="name">トップ</span>
                            </a>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li itemprop="itemListElement" itemscope
                            itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="http://www.merry-x.com/contacts">
                              <span itemprop="name">お問い合わせ</span>
                            </a>
                            <meta itemprop="position" content="2" />
                        </li>
                        <li itemprop="itemListElement" itemscope
                            itemtype="http://schema.org/ListItem">
                            <span itemprop="name">確認</span>
                            <meta itemprop="position" content="3" />
                        </li>
                    </ol>
                    <div class="heading">
                        <h2>お問い合わせ</h2>
                        <div>以下の内容で間違いがなければ、「送信」ボタンを押してください。</div>
                    </div>
                    <%= form_for @contact do |f| %>
                      <%= f.hidden_field :name %>
                      <%= f.hidden_field :corporation %>
                      <%= f.hidden_field :tel %>
                      <%= f.hidden_field :email %>
                      <% @contact.category_ids.each do |category_id| %>
                        <%= hidden_field_tag 'contact[category_ids][]', category_id %>
                      <% end %>
                      <%= f.hidden_field :body %>
                      <div class="field">
                        <div class="label"><%= f.label :name, 'お名前' %></div>
                        <div class="confirm"><%= @contact.name %></div>
                      </div>

                      <div class="field">
                        <div class="label"><%= f.label :corporation, '法人名' %></div>
                        <div class="confirm"><%= @contact.corporation %></div>
                      </div>

                      <div class="field">
                        <div class="label"><%= f.label :tel, '電話番号' %></div>
                        <div class="confirm"><%= @contact.tel %></div>
                      </div>

                      <div class="field">
                        <div class="label"><%= f.label :email, 'メールアドレス' %></div>
                        <div class="confirm"><%= @contact.email %></div>
                      </div>

                      <div class="field">
                        <div class="label"><%= f.label :category, 'お問い合わせ項目' %></div>
                        <div class="confirm">
                          <ul style="list-style-type: none;">
                          <% Category.where(id: @contact.category_ids).each do |category| %>
                              <li><%= category.name %></li>
                          <% end %>
                          </ul>
                        </div>
                      </div>

                      <div class="field">
                        <div class="label"><%= f.label :body, 'お問い合わせ内容' %></div>
                        <div class="confirm"><%= @contact.body %></div>
                      </div>

                      <div class="actions">
                        <%= f.submit '戻る', name: 'back' %>
                        <%= f.submit '送信', class: 'submit'%>
                      </div>
                    <% end %>
                </div>
            </div>
        </main>

