<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title><%= yield(:title) %></title>
        <meta name="description" content="<%= yield(:description).presence || "ビル清掃 オフィス清掃 マンション清掃のメリエックス株式会社です。オフィスビル、ショッピングセンター、ホテル、病院･医療施設、学校、老人施設などのビル清掃、保守点検、設備管理、ビルメンテナンスをおこなっています。" %>" />
        <meta name="keywords" content="<%= yield(:keywords).presence || "清掃,掃除,ビル清掃,オフィス清掃,マンション清掃,建設CAD,メリエックス株式会社" %>" />
        <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
        <link rel="canonical" href="<%= url_for(only_path: false) %>" >
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="/vendor/slick/slick.css" />
        <link rel="stylesheet" href="/vendor/slick/slick-theme.css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/app.min.css" />
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106664208-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments)};
          gtag('js', new Date());

          gtag('config', 'UA-106664208-1');
        </script>
    </head>
    <body>
        <header class="header">
            <div class="container">
                <h1><%= yield(:h1).presence || "オフィス清掃 ワックス清掃 ビル・マンション清掃 メリエックス株式会社" %></h1>
                <div class="contents">
                    <div class="logo">
                        <a href="/">
                            <div class="en_US">Merry'X Co.,Ltd.</div>
                            <div class="ja_JP">メリエックス株式会社</div>
                        </a>
                    </div>
                    <div class="inquiry">
                        <p>お気軽にお問い合わせください</p>
                        <ul>
                            <li>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <a href="tel:0120290298">0120-290-298</a>
                            </li>
                            <li>
                                <i class="fa fa-laptop" aria-hidden="true"></i>
                                <%= link_to 'お問い合わせ', contacts_path %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <%= yield %>
        <footer>
            <nav class="container footers">
                <div class="footer">
                    <h4 class="title">業務内容</h4>
                    <ul>
                        <li class="link"><%= link_to 'オフィス清掃', office_path %></li>
                        <li class="link"><%= link_to 'ワックス清掃', wax_path %></li>
                        <li class="link"><%= link_to 'カーペット清掃', carpet_path %></li>
                        <li class="link"><%= link_to 'ハウスクリーニング', house_path %></li>
                        <li class="link"><%= link_to 'エアコン清掃', aircon_path %></li>
                        <li class="link"><%= link_to 'アパート・マンション清掃', apaman_path %></li>
                    </ul>
                </div>
                <div class="footer">
                    <h4 class="title">企業情報</h4>
                    <ul>
                        <li class="link"><%= link_to '会社概要', about_path %></li>
                        <li class="link"><%= link_to 'お問い合わせ', contacts_path %></li>
                        <li class="link"><%= link_to '個人情報保護', privacy_path %></li>
                        <li class="link"><%= link_to 'お知らせ', news_path %></li>
                    </ul>
                </div>
                <div class="footer corporation">
                    <h4 class="title">メリエックス株式会社</h4>
                    <div>
                        <div>
                            <div>〒124-0022</div>
                            <div>東京都葛飾区奥戸2-8-15</div>
                            <div>TEL : 03-3693-7502</div>
                            <div>FAX : 03-3696-5140</div>
                        </div>
                        <div id="map"></div>
                    </div>
                </div>
            </nav>
            <div class="copyright">2018© Merry'X Co.,Ltd. copyrights reserved.</div>
        </footer>
        <script src="/js/jquery-3.1.1.min.js"></script>
        <script src="/vendor/slick/slick.min.js"></script>
        <script src="/js/index.js"></script>
        <script>
            function initMap() {
              var merryx = {lat: 35.736, lng: 139.855};
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: merryx
              });
              var marker = new google.maps.Marker({
                position: merryx,
                map: map
              });
            }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAXC61LQGgwa3qw972T0_Q6iSCEZUQflI&callback=initMap"></script>
    </body>
</html>
